<div class="headerPosition">
  <nav class="navbar navbar-expand-md header-section">
    <div class="container-fluid">
      <a class="brand" href="#">Samandre</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="description text-decoration-none"
              href="https://www.facebook.com/sahil.mandre.58/"
              target="_blank"
            >
              <i class="bi bi-meta ms-3"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="description text-decoration-none"
              href="https://www.linkedin.com/in/sahilmandre/"
              target="_blank"
            >
              <i class="bi bi-linkedin ms-3"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="description text-decoration-none"
              href="https://www.instagram.com/sahilmandre/"
              target="_blank"
            >
              <i class="bi bi-instagram ms-3"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="description text-decoration-none"
              href="https://github.com/sahilmandre"
              target="_blank"
            >
              <i class="bi bi-github ms-3"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="description text-decoration-none"
              href="https://www.youtube.com/sahilmandre"
              target="_blank"
            >
              <i class="bi bi-youtube ms-3"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
