<div class="footerBackground">
  <div class="col-12 mx-0 row">
    <div class="footerGroup row mx-auto">
      <div class="col-6 mt-5 col-md-6 col-lg-3 footerTitle">Samandre</div>

      <!-- resume section  -->
      <div class="col-6 mt-5 col-md-6 col-lg-3 resumeSection">
        <div class="footerTitleNormal col-10">Download Resume</div>
        <p class="description col-10 mt-5">
          You can download my latest resume from here.
        </p>
        <a
          href="../../assets/images/Footer/SahilMandre_ReactDeveloper_Resume.pdf"
          class="downloadLink mt-5"
          download
          >Download here <mat-icon class="ms-4">cloud_download</mat-icon></a
        >
      </div>

      <!-- navigation column  -->
      <div class="col-6 mt-5 col-md-6 col-lg-3 navigationSection">
        <div class="navigation footerTitleNormal">Navigation</div>
        <div class="mt-5">
          <div class="description" id="home">
            <a href="#" class="text-decoration-none description">Home</a>
          </div>
          <div class="description" id="about">
            <a href="#about" class="text-decoration-none description">About</a>
          </div>
          <div class="description" id="projects">
            <a href="#projects" class="text-decoration-none description"
              >Projects</a
            >
          </div>
          <div class="description" id="contact">
            <a href="#contact" class="text-decoration-none description"
              >Contact</a
            >
          </div>
        </div>
      </div>

      <!-- social Section  -->
      <div class="col-6 mt-5 col-md-6 col-lg-3 socialSection">
        <div class="footerTitleNormal">Social links</div>
        <div class="mt-5">
          <div>
            <a
              class="description text-decoration-none"
              href="https://www.facebook.com/sahil.mandre.58/"
              target="_blank"
              >Facebook <i class="bi bi-meta ms-3"></i
            ></a>
          </div>
          <div>
            <a
              class="description text-decoration-none"
              href="https://www.linkedin.com/in/sahilmandre/"
              target="_blank"
              >LinkedIn <i class="bi bi-linkedin ms-3"></i
            ></a>
          </div>
          <div>
            <a
              class="description text-decoration-none"
              href="https://www.instagram.com/sahilmandre/"
              target="_blank"
              >Instagram <i class="bi bi-instagram ms-3"></i
            ></a>
          </div>
          <div>
            <a
              class="description text-decoration-none"
              href="https://www.youtube.com/sahilmandre"
              target="_blank"
              >Youtube <i class="bi bi-youtube ms-3"></i
            ></a>
          </div>
          <div>
            <a
              class="description text-decoration-none"
              href="https://github.com/sahilmandre"
              target="_blank"
              >Github <i class="bi bi-github ms-3"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- hr line section  -->
  <div class="col-12">
    <div class="hr"></div>
  </div>

  <!-- copyright section -->
  <div
    class="row p-5 w-100 align-items-center justify-content-between copyrightSection"
  >
    <span class="endTitle description w-auto"
      >Created with ❤ by Sahil Mandre</span
    >
    <span class="copyright description w-auto">
      Copyright &copy; 2024 Samandre. All rights reserved.
    </span>
  </div>
</div>
