.footerTitle {
  font-size: 3.2rem;
  color: #b266d2;
  font-weight: 700;
  line-height: 1.1;
}

.footerTitleNormal {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
}
.footerTitleNormal:hover {
  color: #b266d2;
}

.footerGroup {
  margin: 7rem 0;
  padding-inline: 4%;
}

.downloadLink {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.downloadLink:hover {
  color: #b266d2;
}

.hr {
  background: linear-gradient(90deg, #7a63d2, rgba(27, 25, 36, 0));
  flex: none;
  height: 2px;
  margin: 0px 50px 0px;
  opacity: 0.2;
  width: calc(100% - 100px);
  max-width: calc(100% - 100px);
}

@media (max-width: 430px) {
  .footerGroup {
    text-align: center;
    justify-content: center;
  }

  .resumeSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .navigationSection {
    width: 100%;
  }

  .socialSection {
    width: 100%;
  }

  .copyrightSection {
    justify-content: center !important;
    text-align: center;
  }
}
