<div class="footerBackground">
  <div class="col-12 row">
    <div class="footerGroup row">
      <div class="col-3 footerTitle">Samandre</div>
      <div class="col-3">
        <div class="footerTitleNormal col-10">Download Resume</div>
        <p class="description col-10 mt-5">
          You can download my latest resume from here.
        </p>
        <a
          href="../../assets/images/Footer/Sahil_Mandre_Resume.pdf"
          class="downloadLink mt-5"
          >Download here <mat-icon class="ms-4">cloud_download</mat-icon></a
        >
      </div>
      <div class="col-3">
        <div class="navigation footerTitleNormal">Navigation</div>
        <div class="mt-5">
          <div class="description">Home</div>
          <div class="description">About</div>
          <div class="description">Projects</div>
          <div class="description">Contact</div>
        </div>
      </div>
      <div class="col-3">
        <div class="socialLinks footerTitleNormal">Social links</div>
        <div class="mt-5">
          <div class="description">Facebook</div>
          <div class="description">LinkedIn</div>
          <div class="description">Instagram</div>
          <div class="description">Youtube</div>
          <div class="description">Github</div>
        </div>
      </div>
    </div>
  </div>
</div>
