.footerTitle {
  font-size: 3.2rem;
  color: #b266d2;
  font-weight: 700;
  line-height: 1.1;
}

.footerTitleNormal {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
}
.footerTitleNormal:hover {
  color: #b266d2;
}

.footerGroup {
  margin: 7rem 5rem;
}

.downloadLink {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.downloadLink:hover {
  color: #b266d2;
}

.hr {
  background: linear-gradient(90deg, #7a63d2, rgba(27, 25, 36, 0));
  flex: none;
  height: 2px;
  margin: 0px 50px 0px;
  opacity: 0.2;
  width: calc(100% - 100px);
  max-width: calc(100% - 100px);
}
