<div class="backgroundAbout">
  <div class="row w-100 h-100 align-items-center">
    <div class="p-5 col-6 h-100 aboutLeft">
      <div class="box"></div>
      <img class="aboutPic" src="../../assets/images/bg (6).jpg" alt="" />
    </div>

    <div
      class="p-5 col-6 col-sm-12 col-md-6 aboutRight background justify-content-md-end"
    >
      <div class="title">
        About Me
        <mat-icon class="aboutHeadingIcon titleIcon"> show_chart</mat-icon>
      </div>
      <div class="aboutHeadingTitle mainHeading col-12 mt-4">
        {{ aboutHeadingTitle }}
      </div>
      <div
        class="aboutHeadingDescription description col-12 col-md-8 col-sm-10 mt-4"
      >
        {{ aboutHeadingDescription }}
      </div>
    </div>
  </div>
</div>
