#hero-image {
  background-image: url("../../assets/images/bg1.jpg");

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* position relative  */
  position: relative;

  /* image blending  */
  /* opacity: 0.8;
  mix-blend-mode: hard-light; */
}
.overlay {
  /* background-image: linear-gradient(0deg, #24203b, rgba(36, 32, 59, 0)); */
  background-image: linear-gradient(358deg, #201d35, rgb(29 26 47 / 4%));
}
.header-title {
  position: relative;
  color: #fff;
  top: 32%;
}

.header-title1 {
  font-size: 20px;
  font-weight: 400;
}
.header-title2 {
  font-size: 48px;
  font-weight: 800;
}
.header-title-subtext {
  font-size: 18px;
  font-weight: 400;
}
