#hero-image {
  background-image: url("../../assets/images/bg1.jpg");

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* position relative  */
  position: relative;

  /* image blending  */
  /* opacity: 0.8;
  mix-blend-mode: hard-light; */
}
.overlay {
  /* background-image: linear-gradient(0deg, #24203b, rgba(36, 32, 59, 0)); */
  background-image: linear-gradient(358deg, #201d35, rgb(29 26 47 / 4%));
}
.header-title {
  position: relative;
  color: #fff;
  top: 24%;
  mix-blend-mode: normal;
}

.header-title1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "poppins";
}
.header-title2 {
  font-size: 6.4rem;
  font-weight: 700;
  font-family: "poppins";
  line-height: 1;
  letter-spacing: -0.032em;
}
.header-title-subtext {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
}

.header-group {
  margin-top: 4%;
}

.downArrow {
  font-size: 3rem;
  padding: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 6rem;
}
.downArrow:hover {
  transform: scale(1.05, 1.05);
}
.downArrow-down::after {
  border: 3px solid rgb(27 25 45);
  color: #1d1a30;
  transform: translateY(0%) rotate(0deg);
}

.downGroup {
  height: 45vh;
  align-items: center;
  margin-top: 5%;
}
