.hero-image {
  background-image: url("../../assets/images/bg1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* position relative  */
  position: relative;

  /* image blending  */
  opacity: 0.8;
  mix-blend-mode: hard-light;
}

.header-title {
  position: relative;
  color: #fff;
  top: 35%;
  left: 5%;
}

.header-title1 {
  font-size: 20px;
  font-weight: 400;
}
.header-title2 {
  font-size: 48px;
  font-weight: 800;
}
.header-title-subtext {
  font-size: 18px;
  font-weight: 400;
}
