<div class="" id="hero-image">
  <div class="overlay h-100">
    <div class="header-title ps-5 col-md-5 col-sm-8">
      <h2 class="header-title1">Hi, my name is</h2>

      <div>
        <h1 class="header-title2">Sahil Mandre</h1>
        <h1 class="header-title2">I build things for</h1>
        <h1 class="header-title2">the web.</h1>
      </div>

      <p class="header-title-subtext mt-4">
        I'm a Jabalpur based software engineer who specializes in building(and
        occasionally designing) exceptional digital experiences.
      </p>
    </div>
  </div>
</div>
