<div class="overlay">
  <div class="col-12 p-5 pb-5">
    <div
      class="row mx-auto gap-3 row-cols-1 row-cols-xs-1 row-cols-md-3 row-cols-sm-1 card-gap"
    >
      <div
        id="cards"
        class="card card-color col bg-transparent"
        *ngFor="let card of cards"
      >
        <!-- <img
          src="{{ card.image }}"
          class="img-responsive card-img-top material-icons"
          alt="star icon for experience"
        /> -->
        <mat-icon class="img-responsive card-img-top" id="icon-star"
          >star</mat-icon
        >
        <div class="card-body pb-0">
          <h5 class="card-title mt-4">{{ card.title }}</h5>
          <h6 class="card-subtitle mb-0">
            {{ card.subtitle }}
          </h6>

          <a
            href="#"
            class="card-link d-flex align-items-center card-button mt-5"
            >Read more
            <span class="material-symbols-outlined"> arrow_right_alt </span></a
          >
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngTemplateOutlet="technologiesContainer"></ng-container>
</div>

<!-- ################     TEMPLATES WRITTEN BELOW     ########################## -->

<ng-template #technologiesContainer>
  <div class="col-12 p-5 row align-items-center">
    <div class="col-4 techLeftSection">
      <span class="material-symbols-outlined img-responsive ms-1">
        bookmark_added
      </span>
      <h2 class="technologyHeading">0012+</h2>
      <div class="d-flex ms-1">
        <mat-icon class="starIcon" *ngFor="let star of starsArray"
          >star</mat-icon
        >
      </div>

      <div class="ms-1">
        <div class="expHeading my-4">Technology Experience</div>
        <div class="expDescription mt-4 description">
          <span>
            {{
              showMore
                ? experienceDescription
                : (experienceDescription | slice : 0 : 210)
            }}
            <span *ngIf="!showMore">...</span>
          </span>
          <span class="mt-4 d-block">
            <a
              class="d-flex align-items-center text-decoration-none"
              href="javascript:;"
              *ngIf="!showMore"
              (click)="showMore = true"
              >Read more
              <span class="material-symbols-outlined"> arrow_right_alt </span>
            </a>
            <a
              class="d-flex align-items-center text-decoration-none"
              href="javascript:;"
              *ngIf="showMore"
              (click)="showMore = false"
            >
              <span class="material-symbols-outlined"> keyboard_backspace </span
              >Read less
            </a>
          </span>
        </div>
      </div>
    </div>

    <div class="col-8 col-sm-12 col-md-8 p-5 techRightSection">
      <div class="w-100 justify-content-end d-flex">
        <img class="techPic" src="../../assets/images/techPic.png" alt="" />
      </div>
      <div class="">
        <div class="mainHeading">Technology is the Future of the World.</div>
        <div class="mainHeadingDescription description mt-3">
          {{ mainHeadingDescription }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
