/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);

html,
body {
  height: 100%;
}
body {
  background-color: #262438;
  font-family: "Poppins", sans-serif !important;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}
